<table id="template" style="visibility:hidden">
    <tr>
        <td>
            <input type="hidden" name="Etape.Index" value="--sifra--" />
            <input type="text" name="Etape[--sifra--].Ime" class="form-control" value="--ime--" />
        </td>

        <td class="text-center">
            <input name="Etape[--sifra--].Opis" class="form-control" value="--opis--" />
        </td>
        <td class="text-center">
            <input name="Etape[--sifra--].AktivnostId" type="hidden" class="form-control" value="--aktivnostId--" />
            <input name="Etape[--sifra--].AktivnostIme" class="form-control" value="--aktivnostIme--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow">Ukloni</button>
        </td>
    </tr>
</table>