This web application has purpose of keeping track of active projects, their phases, activities and people on them.
<br />
Divided by each of students in group, this application is made as a project for course "Razvoj primijenjene programske potpore" on Faculty of Electrical Engineering and Computing, Zagreb.
<hr />
<h2>Authors:</h2>
<ul>
    <li>Marko Ćurković</li>
    <li>Mario Mrvčić</li>
    <li>Filip Hlup</li>
    <li>Fran Talan</li>
    <li>Daria Bevanda</li>
</ul>