@{
    ViewData["Title"] = "Suradnik i poslovi";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li>
        <a asp-controller="SuradnikReport" asp-action="SuradnikMD2">Excel - Suradnici sa poslovima</a>
    </li>
    <li>
        <a asp-controller="SuradnikReport" asp-action="Suradnici">Excel - Popis Suradnika</a>
    </li>
    <li>
        <a asp-controller="SuradnikReport" asp-action="Poslovi">Excel - Popis Poslova</a>
    </li>
    <li>
        <a asp-controller="SuradnikReport" asp-action="SuradniciPDF">PDF - Popis Suradnika</a>
    </li>
    <li>
        <a asp-controller="SuradnikReport"  asp-action="PosloviPDF">PDF - Popis poslova</a>
    </li>
</ul>

<h3>Uvezi Suradnike</h3>

<form method="post" enctype="multipart/form-data" asp-controller="SuradnikReport" asp-action="UveziSuradnika">
    <div class="form-group">
        <label for="excelFile">Odaberite Excel datoteku:</label>
        <input type="file" class="form-control-file" id="excelFile" name="excelFile" accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Uvezi podatke</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.Message
    </div>
}

<h3>Uvezi Poslove</h3>

<form method="post" enctype="multipart/form-data" asp-controller="SuradnikReport" asp-action="UveziPosao">
    <div class="form-group">
        <label for="excelFile">Odaberite Excel datoteku:</label>
        <input type="file" class="form-control-file" id="excelFile2" name="excelFile2" accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Uvezi podatke</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.Message
    </div>
}
